.landing-page{

    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.landing-hero{

    background: url('../../../assets/landing-bg.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-nav{
    
    display: flex;
    justify-content: space-between;
    height: 15vh;
    padding: 0 2vw;
    align-items: center;
}

.landing-nav h3{

    margin: 0;
    font-size: 2rem;
    color: #c9ced2;
    font-family: 'Kaushan Script', cursive;
}

.landing-nav button{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #c9ced200;
    border: 1.5px solid #c26666;
    color: #c26666;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-nav button:hover{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #da4a4a43;
    border: 1.5px solid #da4a4a43;
    color: #ffffffee;

    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-hero-text{

    width: 70%;
    margin-left: 15%;
    margin-top: 10vh;
    text-align: center;
    color: #ffffffee;
}

.landing-hero-text h1{

    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.landing-hero-text p{

    font-family: 'Work Sans', sans-serif;
    color: #ffffffb8;
}

.landing-hero-text button{

    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #c9ced200;
    border: 1.5px solid #e1d5d5ab;
    color: #e1d5d5ab;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-hero-text button:hover{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #c5d0d821;
    border: 1.5px solid #e1d5d567;
    color: #e1d5d5c4;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.landing-about{
    text-align: center;
    margin: 6vh 0 10vh 0;

}

.landing-about-title{


}

.landing-about-title h3{

    font-size: 2rem;
    margin: 0 0 10px 0;
    color: #ef1f1fd0;
    font-family: 'Poppins', sans-serif;
}

.landing-about-title h5{
    margin: 0;
    font-weight: 400;
    font-size: 0.9rem;
    color: #a11d1d4f;
    width: 70%;
    margin-left: 15%;
}

.landing-about-content{
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    margin-top: 10vh;
}

.about-card{

    width: 25%;
    background-color: #e2e4e443;
    padding: 2vh 2vw;
    border-radius: 0.8rem;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
}

.about-card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-card h4{

    
}

.about-card .about-card-icon{

    font-size: 5rem;
    color: #f6a4a4;
}

.about-card p{

    font-size: 0.8rem;
}

.landing-footer{

    text-align: center;
    margin: 35px 0;
    color: #454242e2;
}