<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="landing-page">

        <div class="landing-hero">

            <div class='landing-nav'>
              <h3>SB Funds</h3>
              <button routerLink="/authenticate" >Sign In</button>
            </div>

            <div class="landing-hero-text">

                <h1>GIVE A HAND <br/> To MAKE THE BETTER WORLD</h1>
                <p>That don't lights. Blessed land spirit creature divide our made two itself upon you'll dominion waters man second good you they're divided upon winged were replenish night</p>
                <button routerLink="/authenticate">Donate Now</button>
            </div>

        </div>

        <div class="landing-about">
            <div class="landing-about-title">
                <h3>Our Major Causes</h3>
                <h5>In our unwavering commitment to making a positive impact, we focus our efforts on several major causes that drive our charitable mission. These causes are at the heart of everything we do, guiding our work and inspiring change.</h5>
            </div>
            <div class="landing-about-content">
                <div class="about-card">
                  <h4>Educational Support</h4>
                  <!-- <PiStudent class='about-card-icon' /> -->
                  <p>Discover how we empower disadvantaged youth through educational programs, scholarships, and resources, creating opportunities for a brighter future.</p>
                </div>
                <div class="about-card">
                  <h4>Clean Water Initiatives</h4>
                  <!-- <FaHandHoldingWater class='about-card-icon' /> -->
                  <p>Learn about our efforts to provide access to clean and safe drinking water in underserved communities, preventing waterborne diseases and improving overall well-being.</p>
                </div>
                <div class="about-card">
                  <h4>Healthcare Access</h4>
                  <!-- <MdHealthAndSafety class='about-card-icon' /> -->
                  <p>Explore our work in improving healthcare accessibility for vulnerable populations, ensuring that basic medical needs are met and lives are saved.</p>
                </div>
            </div>
        </div>

        <div class="landing-footer">
          <p>&#169; sb-funds.com - All rights reserved</p>
        </div>

    </div>



</body>
</html>