<div class="admin-page">

    <div class="admin-cards">

        <div class="admin-card">
            <h5>All Users</h5>
            <p>{{usersCount}}</p>
            <button class='btn btn-outline-primary' routerLink="/all-users" >View all</button>
        </div>

        <div class="admin-card">
            <h5>Total donations</h5>
            <p>{{donationsCount}}</p>
            <button class='btn btn-outline-primary' routerLink="/donations" >View all</button>
        </div>

        <div class="admin-card">
            <h5>Total fund rised</h5>
            <p>&#8377; {{totalDonations}}</p>
            <button class='btn btn-outline-primary' routerLink="/donations" >View all</button>
        </div>

        <div class="admin-card">
            <h5>All Fundrisers</h5>
            <p>{{fundrisersCount}}</p>
            <button class='btn btn-outline-primary' routerLink="/fundrisers" >View all</button>
        </div>

    </div>
</div>