.admin-page{
    height: fit-content;
    width: 100%;
    padding-top: 15vh;
}

.admin-cards{

    width: 100%;
    padding: 0 5%;
    display: flex;
    gap: 5vw;
}

.admin-card{

    text-align: center;
    width: 20vw;
    height: 25vh;
    padding: 3vh 0;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.admin-card h5{

    
}

.admin-card p{

    
}

.admin-card button{

    width: 50%;    
}
